body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  background-color: antiquewhite;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.item {
  border-radius: 5%;
  height: 200px;
  width: 200px;
  background-color: rgb(189, 184, 172);
  color: blueviolet;
  font-size: 20px;
}

.card img { 
  height: 200px;
  width: 100%;
}

.card {
  margin: 5% auto;
  color: black;
  height: auto;
}

.background-col {
  background-color: antiquewhite;
}

.gradient-custom {
  /* fallback for old browsers */
  background: antiquewhite;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, antiquewhite, rgb(179, 157, 61));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, antiquewhite, rgb(179, 157, 61))
}